<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style/main.css">
    {% block styles %}{% endblock styles %}
    <link rel="stylesheet" href="./style/responsive.css">
    {% block title %}
      <title>Ecoleta</title>
    {% endblock title %}

  </head>

  <body>
    <div id="{{ bodyId }}">
      {% block content %}{% endblock content %}
    </div>

    {% block modal %}
    {% endblock modal %}
    
    {% block scripts %}{% endblock scripts %}
  </body>
</html>